{% extends 'task_app/base.html' %}

{% block title %}Home: TODO LIST {% endblock %}
{% block content %}

<div class="row p-5">
    <h1 class="pb-4">Welcome to TO DO list app</h1>
    {% for task in tasks %}
    <div class="col-sm-6 mb-3 mb-sm-0 pb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{task.task_title}}</h5>
          <p class="card-text">{{task.task_description}}</p>
          <a href="{% url 'task' task.id %}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}